/* html {
  background-color: white;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} */

.container {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 90%;
  font-size: 30px;
}
.centered {
  position: absolute;
  background-color: white;
  height: 50%;
  width: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
